<section class="register">

    <div class="register__left">
      <h1 class="register__left-title">Registrarse</h1>
      <p class="register__left-text">Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades, inicia
        sesión y continúa
        aprobechando al máximo nuestra plataforma.</p>
  
      <div class="register__left-icon">
        <img src="assets/icons/Shape.png" alt="" class="register__left-icon-img">
        <div class="register__left-icon-text">
          <p class="register__left-icon-text-content">Monitoreo integral</p>
          <p class="register__left-icon-text-subContent">Administra, monitoria multiples plantas de fo</p>
        </div>
      </div>
  
      <div class="register__left-icon">
        <img src="assets/icons/ic_stars.png" alt="" class="register__left-icon-img">
        <div class="register__left-icon-text">
          <p class="register__left-icon-text-content">Notificaciones en tiempo</p>
          <p class="register__left-icon-text-subContent">Recibi notificaciones en tiempo real sobre las mediciones</p>
        </div>
      </div>
    </div>
  
    <div class="register__right">
  
      <div class="register__right-content">
        <h2 class="register__right-title">Portal de monitoreo</h2>
        <h3 class="register__right-subtitle">Registrarse</h3>
        <mat-spinner *ngIf="loading" diameter="50" class="register__right-spinner"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="myForm" class="register__right-form" (ngSubmit)="register()">
          <mat-form-field class="register__right-form-matFormField">
            <input formControlName="email" matInput type="email" placeholder="Email"
              class="register__right-form-matFormField-matLabel-input">
            <mat-error *ngIf="myForm.get('email')?.hasError('required')"
              class="register__right-form-matFormField-matLabel-error">Este campo es obligatorio</mat-error>
          </mat-form-field>
  
          <mat-form-field class="register__right-form-matFormField">
            <input formControlName="password" matInput [type]="showPassword ? 'text' : 'password'"
              placeholder="Contraseña" required class="register__right-form-matFormField-matLabel-input">
            <mat-icon matSuffix (click)="visibility()" class="register__right-form-matFormField-visibility">
              {{showPassword?'visibility_off':'visibility'}}
            </mat-icon>
            <mat-error *ngIf="myForm.get('password')?.hasError('required')"
              class="register__right-form-matFormField-matLabel-error">Este campo es obligatorio</mat-error>
          </mat-form-field>
  
          <div class="register__right-form-button">
            <button class="register__right-form-button-star" type="submit">Guardar registro</button>
          </div>
        </form>
  
        <div class="register__right-footer">
          <p class="register__right-footer-text">Protegido por reCAPTCHA y sujeto a la <samp
              class="register__right-footer-text-color">Política de Privacidad</samp> y <samp
              class="register__right-footer-text-color">Condiciones.</samp></p>
        </div>
        <div class="register__right-footer-register">
          <button class="register__right-footer-register-title" (click)="onIconClick()">Ir al login</button>
      </div>
      </div>
    </div>
  
  </section>
  
