$color-primary: rgb(249, 250, 252);
$color-secondary: rgb(38, 38, 38);
$color-login: rgb(26, 128, 133);
$color-button-login:rgb(50, 163, 169);
$color-icon-login:rgb(235, 183, 93);
$color-texto:rgb(144, 145, 147);
$color-cards: rgb(255, 255, 255);
$color-texto-tabla: rgb(176, 202, 209);
$color-boder-tabla: rgb(249, 252, 252);
$color-button-cancel:rgb(238, 235, 235);